.mainindex {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.3rem;

}

.mainindex h2 {
    text-align: center;
}

.video-intro {
    width: 100%;
    height: 100vh;
}