.nosotrosmain {
    object-fit: contain;

    img {
        padding-bottom: 1rem;
        gap: 1rem;
    }
}

@media (min-width: 1200px) and (orientation:landscape) {
    .nosotrosmain2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .quienesart {
        padding-left: 5rem;

        article {
            padding-bottom: 5rem;
        }

    }
}

article p {
    text-align: justify;
}